/* Initail values */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: rgba(15,0,0,1);
  font-family: Roboto;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(15,0,0,0.90);
}

.video-background {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(15,0,0,0.90);
}

.game {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid rgba(156,54,48,1);
}

.menu .menu_header {
  width: 100%;
  color: rgba(156,53,48,1);
  text-transform: uppercase;
  margin-bottom: 40px;
  opacity: 0; 
}

.menu .menu_header .title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.menu .menu_header .subtitle {
  font-size: 10px;
  padding: 5px 0 0 0;
  text-align: center;
}

.menu .content {
  opacity: 0;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(156,54,48,1);
}

.menu .content .content_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .content .content_header {
  width: 100%;
  height: 30px;
  background-color: rgba(156,53,48,1);
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu .content .autogenerated_text {
  color: rgb(156, 53, 48);
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 25px 30px;
}

.menu .content .btn_play {
  width: 320px;
  height: 30px;
  background-color: rgba(156,53,48,1);
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin: auto;
  transition-duration: 500ms;
  font-family: Roboto;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  align-self: center;
  opacity: 0;
}

.menu .content .btn_play:hover {
  background-color: rgba(166,63,58,1);
}

.board {
  opacity: 0;
}

.board .board_top {
  width: 100%;
  height: 80px;
  padding: 0 20px;
}

.board_counter {
  display: flex;
  justify-content: space-between;
}

.counter_title, .counter_time {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 600;
  color: #9C3530;
}

.board_bar {
  width: 100%;
  height: 10px;
  background-color: #9C3530;
}

.board .board_bottom {
  display: flex;
  width: calc(100% - 40px);
  height: 490px;
  margin: 10px 20px;
  border: 1px solid rgba(156,53,48,1);
}

.board_bottom .board_bottom_l,
.board_bottom .board_bottom_r {
  width: 50%;
  padding: 10px;
}

.window {
  border: 1px solid rgba(156,53,48,1);
}

.section_header {
  width: 100%;
  height: 30px;
  background-color: rgba(156,53,48,1);
  padding-left: 20px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 30px;
}

.section_body {
  padding: 10px 20px;
}

.console {
  display: flex;
  justify-content: space-between;
}

.btn_refresh {
  width: 180px;
  height: 40px;
  border: 1px solid rgba(156,53,48,1);
  background-color: rgba(13,13,13,1);
  color: rgba(156,53,48,1);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.collected_bits {
  text-transform: uppercase;
  line-height: 40px;
  color: rgba(156,53,48,1);
  font-size: 14px;
  font-weight: 600;
}

.memory_slot {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(156,53,48,1);
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(156,53,48,1);
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}

.token_group {
  width: auto;
  height: 40px;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  box-sizing: border-box;
}

.token {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(156,53,48,1);
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  float: left;
}

.reward {
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(156,53,48,1);
  background-color: rgba(13,13,13,1);
  color: rgba(156,53,48,1);
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  float: right;
}

table {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

table td {
  width: 60px;
  height: 60px;
  font-size: 22px;
  color: rgba(156,53,48,1);
  font-weight: 800;
  text-align: center;
  border: 2px solid rgba(0,0,0,0);
  transition-duration: 300ms;
  box-sizing: border-box;
  cursor: pointer;
}

table td:hover {
  border: 2px solid rgba(83,200,206,1);
}

.matrix {
  height: 406.5px;
}

.active_key {
  background-color: #151A27;
}

.disabled_key {
  color: rgb(78, 60, 96);
}

.token_good {
  background-color: rgb(48, 156, 65);
  color: black;
}

.token_bad {
  background-color: #9C3043;
  color: black;
}

.token_ignored {
  color: black;
  background-color: transparent;
}

.result {
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.result p {
  text-align: center;
  color: #9C3530;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 15px;
  font-weight: bold;
}

.result h2 {
  text-align: center;
  color: #9C3530;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.result h4 {
  text-align: center;
  color: #9C3530;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn_try_again {
  display: block;
  width: 320px;
  height: 30px;
  background-color: rgba(156,53,48,1);
  color: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
  font-family: Roboto;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  align-self: center;
}